.mainSlider {
  height: 80vh;
}
.slick-track,
.slick-slider,
.slick-list {
  height: 100%;
}

.layer {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.2) 30%,
    rgb(7 7 7) 95%
  );
}
.screenflix {
  width: 45px;
  opacity: 0.8;
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.14, 1.28);
}
